body {
    font-family: 'Josefin Sans', sans-serif;
}

div {
    display: block;
    max-width: 80vw;
    margin: auto;
    text-align: center;
}

picture,
img {
    max-width: 100%;
}

.subtitle {
    font-size: 48px;
}

@media screen and (min-width:1025px) {
    main {
        margin-top: 15vh;
    }
}