  /*
    xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
  */

  :root {
      --theme-red: #E62E23;
      --theme-orange: #F56F1E;
      --theme-yellow: #ffdb10;
      --theme-green: #71BA6A;
      --theme-blue: #92C5EC;
      --theme-blue-origin: #4A9FE0;
      /*
        original:     #4A9FE0
        lighten(40%): #92C5EC
        lighten(50%): #A4CFEF
        lighten(60%): #B7D9F3
        lighten(70%): #C9E2F6
      */
      --theme-darkblue: #19598B;
      --theme-violet: #B25EA1;

      --bs-body-bg: white;
      --bs-body-color: black;
      --bs-link-color: #4A9FE0;
      --bs-body-color-rgb: 0, 0, 0;
      --footer-bg: white;
      --footer-fg: var(--bs-body-color);
      --bs-primary: #4A9FE0;
      --bs-primary-rgb: 74, 159, 224;

      --bs-body-font-family: "Josefin Sans";
      --bs-body-font-size: 1.3rem;
      --bs-body-line-height: 1.3;
  }

  h1,
  h2,
  h3,
  h4 {
      text-transform: uppercase;
      font-weight: 800;
  }

  h5 {
      text-transform: uppercase;
  }

  .navbar {
      --bs-navbar-color: black;
      --bs-nav-link-color: black;
  }

  body,
  footer .row {
      text-align: center;
  }

  main>h1,
  main>h2 {
      border-bottom: none;
      margin-bottom: 0;
  }

  main>.row:nth-child(1) {
      margin-top: 40px;
      /* margin-bottom: 120px; */
      font-size: 2rem;
      line-height: 2.5rem;
  }

  main>.row:nth-child(1) h2 {
      font-size: 3rem;
      line-height: 3.5rem;
  }

  .line-with-picture {
      border: none !important;
  }

  .line-with-picture .content>h2,
  .line-with-picture .content>h3 {
      margin-top: 0;
      margin-bottom: var(--bs-gutter-x);
  }

  .row {
      /* text-align: left; */
  }

  .navbar .logo {
      max-height: 50px;
  }

  footer {
      border-top: 1px solid var(--bs-primary);
      text-align: center;
  }

  footer ul {
      padding: 0;
  }

  footer li {
      list-style: none;
  }

  div.external-credit {
      font-size: 10px;
  }

  .sweet-home .tile .content {
      border-width: 4px;
      border-radius: var(--bs-gutter-x);
      border-color: white;
  }






  .sweet-home .tile:nth-child(1) .content {
      background-color: rgba(113, 186, 106, 0.1);
  }

  .sweet-home .tile:nth-child(2) .content {
      background-color: rgba(255, 219, 16, 0.1);
  }

  .sweet-home .tile:nth-child(3) .content {
      background-color: rgba(230, 46, 35, 0.1);
  }

  .home-teams>.content {
      padding-top: calc(1 * var(--bs-gutter-x));
      padding-bottom: calc(1 * var(--bs-gutter-x));
  }

  .home-teams>.content h4 {
      margin-top: 0;
      margin-bottom: var(--bs-gutter-x);
  }

  .home-teams>.content>svg {
      max-height: 80px;
      margin-bottom: calc(1 * var(--bs-gutter-x));
  }

  .home-teams h4+p {
      min-height: 160px;
  }

  .home-teams ul {
      min-height: 130px;
  }

  .home-teams p:last-child {
      margin-bottom: 0;
  }

  use.fill-red,
  use.fill-green,
  use.fill-yellow {
      fill: var(--bs-gray-700);
  }

  /*
use.fill-red {
    fill: var(--theme-red)
}

use.fill-green {
    fill: var(--theme-green)
}

use.fill-yellow {
    fill: var(--theme-yellow)
} */

  .navbar li,
  .navbar li:hover {
      border: none !important;
  }

  .navbar li.button a {
      background-color: var(--theme-blue);
      font-weight: bold;
  }

  .navbar li a:hover {
      text-decoration: underline;
  }

  .navbar li.button a:hover {
      color: white;
      text-decoration: none;
  }

  .navbar li.active a {
      font-weight: bold;
  }


  .clients {
      text-align: center;
  }

  .clients>.content>img {
      max-height: 75px;
  }

  .content>img {
      max-width: 95%;
  }


  .tile h4,
  .custom-tooltip>div>h3 {
      text-decoration: underline;
      text-decoration-thickness: 5px;
      text-align: center;
      margin-top: var(--bs-gutter-x);
  }

  .tile h4:before,
  .tile h4:after,
  .custom-tooltip>div>h3:before,
  .custom-tooltip>div>h3:after {
      content: "\25A0";
      margin-right: calc(0.5 * var(--bs-gutter-x));
      margin-left: calc(0.5 * var(--bs-gutter-x));
      text-decoration: none !important;
      display: inline-block;
  }

  .custom-tooltip>div {
      text-align: center;
      padding: calc(0.5 * var(--bs-gutter-x));
      border: solid 1px;
      border-radius: var(--bs-gutter-x);

      font-size: 1.1rem;
  }

  .custom-tooltip>div>h3~p {
      display: none;
  }

  .custom-tooltip>div.active>h3~p {
      display: block;
  }


  div.red {
      border-color: var(--theme-red);
  }

  div.orange {
      border-color: var(--theme-orange);
  }

  div.yellow {
      border-color: var(--theme-yellow);
  }

  div.green {
      border-color: var(--theme-green);
  }

  div.blue {
      border-color: var(--theme-blue);
  }

  div.darkblue {
      border-color: var(--theme-darkblue);
  }

  div.violet {
      border-color: var(--theme-violet);
  }




  .sweet-home .tile:nth-child(3) h4:before,
  .sweet-home .tile:nth-child(3) h4:after,
  div.red h3:before,
  div.red h3:after {
      color: var(--theme-red);
  }

  div.orange h3:before,
  div.orange h3:after {
      color: var(--theme-orange);
  }

  .sweet-home .tile:nth-child(2) h4:before,
  .sweet-home .tile:nth-child(2) h4:after,
  div.yellow h3:before,
  div.yellow h3:after {
      color: var(--theme-yellow);
  }

  .sweet-home .tile:nth-child(1) h4:before,
  .sweet-home .tile:nth-child(1) h4:after,
  div.green h3:before,
  div.green h3:after {
      color: var(--theme-green);
  }

  div.blue h3:before,
  div.blue h3:after {
      color: var(--theme-blue);
  }

  div.darkblue h3:before,
  div.darkblue h3:after {
      color: var(--theme-darkblue);
  }

  div.violet h3:before,
  div.violet h3:after {
      color: var(--theme-violet);
  }

  .tile:nth-child(3) h4,
  div.red h3 {
      text-decoration-color: var(--theme-red);
  }

  div.orange h3 {
      text-decoration-color: var(--theme-orange);
  }

  .tile:nth-child(2) h4,
  div.yellow h3 {
      text-decoration-color: var(--theme-yellow);
  }

  .tile:nth-child(1) h4,
  div.green h3 {
      text-decoration-color: var(--theme-green);
  }

  div.blue h3 {
      text-decoration-color: var(--theme-blue);
  }

  div.darkblue h3 {
      text-decoration-color: var(--theme-darkblue);
  }

  div.violet h3 {
      text-decoration-color: var(--theme-violet);
  }

  @media screen and (min-width: 1200px) {

      h1,
      h2,
      h3,
      h4 {
          margin-top: calc(2 * var(--bs-gutter-x));
      }

      .services>svg {
          height: 450px;
      }


      .custom-tooltip>div {
          display: none;
      }

      .custom-tooltip>div.active {
          display: block;
      }

      .container~.container {
          margin-top: var(--bs-gutter-x);
          margin-bottom: var(--bs-gutter-x);
      }
  }


  @media screen and (max-width: 1199px) {

      h1,
      h2,
      h3,
      h4 {
          margin-top: calc(2 * var(--bs-gutter-x));
      }

      .services>svg {
          display: none;
      }

      .custom-tooltip>div {
          border: none;
      }

      .custom-tooltip>div>h2:before,
      .custom-tooltip>div>h2:after {
          content: "\25B2";
      }

      .custom-tooltip>div.active>h2:before,
      .custom-tooltip>div.active>h2:after {
          content: "\25BC";
      }

      main>.row {
          margin-top: var(--bs-gutter-x);
          margin-bottom: var(--bs-gutter-x);
      }
  }

  .legal {
      text-align: justify !important;
  }

  .legal {
      font-size: 1.2rem;
  }

  .legal .process,
  .legal div li>div {
      display: inline;
  }

  .legal div a {
      display: contents;
  }

  .legal h3 {
      margin-top: calc(3*var(--bs-gutter-x));
  }

  .legal h4 {
      margin-top: calc(2*var(--bs-gutter-x));
  }

  .legal h5 {
      margin-top: var(--bs-gutter-x);
  }

  .legal>.col>.process {
      text-align: center;
      display: block;
  }

  .container-fluid {
      padding: 0;
  }

  .cta {
      margin-top: calc(2*var(--bs-gutter-x));
      margin-bottom: calc(2*var(--bs-gutter-x));
      padding-top: calc(1*var(--bs-gutter-x));
      padding-bottom: calc(1*var(--bs-gutter-x));

      /* border-top: #4A9FE0 solid 2px;
      border-bottom: #4A9FE0 solid 2px; */
      background-color: #f3f3f3;
  }

  .btn-primary {
      --bs-btn-color: #000;
      --bs-btn-bg: var(--theme-blue);
      --bs-btn-border-color: var(--theme-blue);
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: var(--theme-blue);
      --bs-btn-hover-border-color: var(--theme-blue);
      --bs-btn-focus-shadow-rgb: 197, 123, 60;
      --bs-btn-active-color: #000;
      --bs-btn-active-bg: #var(--theme-blue);
      --bs-btn-active-border-color: var(--theme-blue);
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #000;
      --bs-btn-disabled-bg: var(--theme-blue);
      --bs-btn-disabled-border-color: var(--theme-blue);
      text-transform: uppercase;
      padding: calc(0.5 * var(--bs-gutter-x));
  }

  .cta div.btn-primary {
      font-size: 18px;
      line-height: 36px;
  }

  .consent button.btn-primary {
      padding: 15px;
  }

  .form-check-input:checked {
      background-color: var(--theme-blue-origin);
      border-color: var(--theme-blue-origin);
  }