:root {
    --theme-red: #E62E23;
    --theme-orange:#F56F1E;
    --theme-yellow:#FFDB10;
    --theme-green:#71BA6A;
    --theme-blue: #4A9FE0;
    --theme-darkblue: #19598B;
    --theme-violet: #B25EA1;

    --bs-body-bg: white;
    --bs-body-color: black;
    --bs-link-color: #4A9FE0;
    --bs-body-color-rgb: 0, 0, 0;
    --footer-bg: white;
    --footer-fg: var(--bs-body-color);
    --bs-primary: #4A9FE0;
    --bs-primary-rgb: 74, 159, 224;
    --bs-body-font-family: "Josefin Sans";
}

.navbar {
    --bs-navbar-color: black;
    --bs-nav-link-color: black;
}

body,
footer .row {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    margin-top: calc(5 * var(--bs-gutter-x));
    font-weight: 800;
}

.line-with-picture {
    border: none !important;
}

.row {
    text-align: left;
}

.navbar .logo {
    max-height: 50px;
}

footer {
    border-top: 1px solid var(--bs-primary);
    text-align: center;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

div.external-credit {
    font-size: 10px;
}

.sweet-home .tile .content {
    border-width: 4px;
}

.sweet-home .tile:nth-child(1) .content {
    border-color: var(--theme-green);
}
.sweet-home .tile:nth-child(2) .content {
    border-color: var(--theme-yellow);
}
.sweet-home .tile:nth-child(3) .content {
    border-color: var(--theme-red);
}

.home-teams>.content {
    padding-top: calc(1 * var(--bs-gutter-x));
    padding-bottom: calc(1 * var(--bs-gutter-x));
}

.home-teams>.content h3 {
    margin-top: 0;
    margin-bottom: var(--bs-gutter-x);
}

.home-teams>.content>svg {
    max-height: 80px;
    margin-bottom: calc(1 * var(--bs-gutter-x));
}

use.fill-red{
    fill: var(--theme-red)
}

use.fill-green{
    fill: var(--theme-green)
}

use.fill-yellow{
    fill: var(--theme-yellow)
}

.navbar li, .navbar li:hover {
    border:none !important;
}
.navbar li a {
    /* color: white; */
    background-color: var(--theme-blue);
    font-weight: bold;
}
.navbar li a:hover {
border: 1px solid var(--theme-blue);
}

.clients {
    text-align: center;
}
.clients > .content > img {
    max-height: 75px;
}